<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
#RewriteCond %{REQUEST_URI}%{QUERY_STRING} ^\/wp-login\.php?loggedout=true(.*)$
#RewriteRule ^(.*)$ http://slv.a99953zd.beget.tech? [R=301,L]
</IfModule>
php_value upload_max_filesize 7M
php_value post_max_size 7M
php_value max_execution_time 300
php_value max_input_time 300
# BEGIN WordPress
# Строки между `BEGIN WordPress` и `END WordPress` были созданы автоматически.
# Они могут быть изменены только фильтрами WordPress.
# Все изменения между этими отметками будут перезаписаны.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress