body
{
	/*height: 100%;*/
	min-height: 1080px;
	background: transparent linear-gradient(to left, #F5F7FA 0%, #C3CFE2 100%) 0% 0% no-repeat padding-box;
}

.info-page-p {
	text-align: left;
	/*font: Regular 17px/20px Montserrat;*/
	font-size: 17px;
	letter-spacing: -0.65px;
	color: #2E2A5C;
}

#left-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a.settings_close {
	position: relative;
	left: 85%;
	font-size: 30px;
	/*display: none;*/
	visibility: hidden;
	color: red !important;
	cursor: pointer;
}
.remove_operation {
	padding: 10px !important;
	margin-bottom: 0;
	border: solid 1px transparent;
	border-radius: 20px;
}
.remove_operation:hover {
	border: solid 1px red;
	cursor: pointer;
}
.remove_operation:hover a.remove_operation_link {
	visibility: visible;
}
a.remove_operation_link {
	visibility: hidden;
	color: red !important;
	cursor: pointer;
	font-size: 40px;
	float: right;
}
/*a.settings_close:hover {*/
/*	visibility: visible;*/
/*}*/
.remove_operation_text {
	font-size: 40px;
	color: red !important;
}

a.remove_operation {
	font-size: 40px;
	color: red !important;
	cursor: pointer;
	line-height: 30px;
	display: inline-block;
}

a:focus
{
	text-decoration: none;
	border: none;
}
.index-title
{
	font-weight: bold;
	font-size: 66px;
	font-family: 'Comfortaa';
	color: #2E2A5C;
	margin-top: 257px;
	word-spacing: 41px;
	padding-left: 40px;
}
.index-p
{
	color: #2E2A5C;
	font-size: 19px;
	font-family: 'Comfortaa';
	margin-top: 27px;
	padding-left: 40px;

}
.img-bg-left-bottom
{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
	max-width: 40%;
}
.img-bg-right-top
{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
	max-width: 40%;
}
.img-bg-center
{
	position: absolute;
	right: 0;
	top: 460px;
	z-index: 1;
}
.header-logo
{
	height: 26px;
	width: 76px;
	display: inline-block;
	margin-top: 20px;
}
.header-h3
{
	display: inline-block;
	word-spacing: 10px;
	font-size: 20px;
	color: #2E2A5C;
	font-family: 'Comfortaa';
	vertical-align: middle;
	margin-top: 30px;
}
.header-h3 span
{
	font-weight:bold;
}
.mobile-menu-ul
{
	list-style-type: none;
	margin-top: 100px;
	padding-left: 0;
}
a:hover
{
	text-decoration: none !important;
}
.mobile-menu-ul li {
	margin-left: 26px;
	margin-bottom: 20px;
}
.mobile-menu-ul a
{
	/*display: inline-block;*/
	font: Bold  13px/14px Comfortaa;
	color: #2E2A5C;
}
.mobile-menu-ul li:hover
{
	cursor: pointer;
}
.desctop-menu
{
	list-style-type: none;
	margin-top: 23px;
	padding-left: 0;
}
.desctop-menu li
{
	display: inline-block;
	margin-left: 20px;
}
.desctop-menu a {
	font: Bold 12px Comfortaa !important;
	color: #2E2A5C !important;
}
.desctop-menu a[status="active"],
.mobile-menu-ul a[status="active"]
{
	color: #EF701B !important;
}
.desctop-menu li:hover
{
	cursor: pointer;

}
.btn-custom-two
{
	height: 36px;
	border: 1px solid #2E2A5C;
	border-radius: 18px;
	font:  16px/18px Comfortaa !important;
	letter-spacing: 0;
	color: #2E2A5C  !important;
	opacity: 1;
	padding-top: 9px;
	padding-left: 23px;
	padding-right: 23px;
}
.btn-custom-two:hover
{
	border: 1px solid#EF701B;
	background: transparent linear-gradient(90deg, #EF7F1B 0%, #FDC501 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 0px 10px #EF701B;
	cursor:pointer;
	color: #ffffff !important;	
}
.btn-custom-one
{
	height: 36px;
	background: transparent linear-gradient(90deg, #EF7F1B 0%, #FDC501 100%) 0% 0% no-repeat padding-box;
	border-radius: 18px;
	font:  16px/18px Comfortaa !important;
	letter-spacing: 0;
	color: #FFFFFF  !important;
	opacity: 1;
	padding-top: 9px;
	padding-left: 23px;
	padding-right: 23px;
}
.btn-custom-one:hover
{
	background: transparent linear-gradient(90deg, #EF7F1B 0%, #FDC501 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 0px 10px #EF701B;
	cursor:pointer;
}
.index-registration:hover
{
	background: transparent linear-gradient(90deg, #EF7F1B 0%, #FDC501 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 0px 10px #EF701B;
	cursor:pointer;
}
.index-registration
{
	float: right;
	z-index: 3;
	padding: 19px;
	width: 388px;
	height: 388px;
	border-radius: 388px;
	box-shadow: 0px 0px 39px #00000029;
	background: transparent linear-gradient(90deg, #EF7F1B 0%, #FDC501 100%) 0% 0% no-repeat padding-box;
}
.index-registration-in
{
	width: 350px;
	height: 350px;
	border-radius: 350px;
	background: transparent radial-gradient(closest-side at 50% 50%, #F5F7FA 0%, #C3CFE2 100%) 0% 0% no-repeat padding-box;
}
.index-registration-img
{
	margin-top: 114px;
}
.index-registration-p
{
	font:  25px/28px Comfortaa;
	letter-spacing: 0;
	color: #2E2A5C;
	margin-top: 41px;
}
.desctop-icons
{
	position: fixed;
	left: 37px;
	top: 40%;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 0px 8px #00000042;
	border-radius: 23px;
	width: 46px;
	height: 221px;
}
.desctop-icons img
{
	width: 24px;
	height: 24px;
	margin-top: 26px;
}
.modal-h1
{
	text-align: left;
	font: Regular 24px/27px Comfortaa;
	letter-spacing: 0;
	color: #212529;
	opacity: 1;
	font-size: 24px;
	margin-top: 42px;
}
.input-modal
{
	max-width: 350px;
	width: 100%;
	height: 40px;
	margin-bottom: 24px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #B7B7B7;
	border-radius: 20px;
	opacity: 1;
}
.modal-form
{
	margin-top: 24px;
}
.btn-modal
{
	max-width: 350px;
	width: 100%;
	margin: auto;
	margin-bottom: 51px;
}
.burger-ico 
{
	margin-top: 22px;

}
.chat_ico-fixed
{
	position: fixed;
	max-width: 70px;
	z-index: 5;
	right: 0;
	top: 40%;
}
.mobile-menu
{
	position: absolute;
	top: 0;
	z-index: 5;
	width: 100%;
	height: 400px;
	display: none;
	background: transparent linear-gradient(180deg, #F5F7FA 0%, #C3CFE2 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
}
.mobile-menu-bg
{
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 400px;
	z-index: 5;
	display: none;
	background: #1A1526 0% 0% no-repeat padding-box;
	opacity: 0.32;
}
.mobile-index-p
{
	font-size: 19px !important;
}
.mobile-index-tittle
{
	font-size: 50px !important;
	word-spacing: normal !important;
}
.partners-bg
{
	height: 219px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 0px 11px #00000029;
	border-radius: 14px;
	width: 100%;
	margin-top: 30px;
	display: flex;
	text-align: center;
}
.partners-bg:hover
{
	box-shadow: 0px 0px 21px #00000029;
	transition: 0.3s;
}
.partners-bg img
{
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	vertical-align: middle;
}
.coop_maps
{
	background: #f7f9fb 0% 0% no-repeat padding-box;
	box-shadow: 0px 0px 11px #00000029;
	border-radius: 14px;
	opacity: 1;
	margin-bottom: 30px;
}
.question
{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 20px;
	width: 100%;
	min-height: 40px;
	margin-top: 16px;
}
.question p
{
	margin-bottom: 14px;
	margin-left: 22px;
	margin-right: 22px;
	font-size: 16px;
}
.line-question
{
	height: 1px;
	//width: 100%;
	margin-top: 14px;
	margin-bottom: 14px;
	margin-left: 22px;
	margin-right: 22px;
	background: #C3CFE2;
	//border-bottom: 1px solid #C3CFE2;
}
.doc
{
	margin-top: 23px;
}
.question-bg
{
	padding-bottom: 47px;
}
.question-text
{
	display: none;
}
.question-title, .verification_title {
	cursor: pointer;
}
.question-title h1,
.question-title img,
.verification_title > h1,
.verification_title > .verification_video_link,
.verification_title > .verification_close-btn
{
	display: inline-block;
	vertical-align: middle;
}
.verification_title > .verification_video_link {
	vertical-align: bottom;
}
.question-title img, .verification_title > .verification_close-btn
{
	float: right;
	padding-top: 15px;
	padding-right: 22px;
	cursor: pointer;
}
.verification_close-btn {
	padding-top: 0 !important;
	padding-right: 0 !important;
	margin-top: 4%;
	width: 3%;
}
.verification_title::after {
}

.question-title h1
{
	font: Medium 16px/19px Montserrat;
	letter-spacing: 0;
	color: #93A5CF;
	font-size: 16px;
	padding-left: 22px;
	padding-top: 11px;
}
.doc img
{
	display: inline-block;
}
.doc-bg
{
	margin-bottom: 47px;
}

.coin-num
{
	font-size: 18px;
	font: Medium 18px/22px Montserrat;
	letter-spacing: 0;
	color: #2E2A5C;
	padding-top: 26px;
	padding-bottom: 9px;
}
.left-panel .coop_maps
{
	padding-bottom: 20px !important;
}
.coin-num-name
{
	font: Bold 13px/14px Comfortaa;
	letter-spacing: 0;
	color: #EF701B;
	text-transform: uppercase;
}
.doc h1
{
	font: Medium 16px/19px Montserrat;
	letter-spacing: 0;
	color: #93A5CF;
	font-size: 16px;
	display: inline-block;
	padding-left: 13px;
	max-width: 80%;
	vertical-align: middle;
}
.close_ex
{
	float: right;
	padding-top: 30px;
}
.tab-ex
{
	display: none;
}
.profil-mobile-menu
{
	border: none;
	height: 62.6px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 4px;
	background: #f7f9fb url(/wp-content/uploads/2019/12/menu_select.png) 100% 50% no-repeat;
	-webkit-appearance: none;
	border-right: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none!important;
	font: Bold 13px/14px Comfortaa;
	letter-spacing: 0;
	color: #EF701B;
}
.ex-mobile-h1-num,
.ex-mobile-h1-prizm
{
	font-size: 16px;
	margin-top: 23px;
	text-transform: uppercase;
	color: #2E2A5C;
	
}
.ex-mobile-h1-prizm
{
	color: #EF701B !important;
}
.ex-mob-pd
{
	padding-bottom: 14px !important;
}
.ib
{
	display: inline-block;
}
.coop_maps-h1
{
	font: 20px/23px Comfortaa;
	font-weight: 600;
	letter-spacing: 0;
	color: #2E2A5C;
	opacity: 1;
	font-size: 20px;
	margin-top: 23px;
}
.coop_maps-img
{
	margin-top: 37px;
	margin-bottom: 14px;
	width: 100%;
}
.chat_ico
{
	position: absolute;
	left: -5px;
}
.pryamougolnik
{
	border: 1px solid #93A5CF;
	border-radius: 4px;
	margin-top: 25px;
}
.pryamougolnik p
{
	padding-top: 14px;
	font: Regular 15px/19px Montserrat;
	letter-spacing: -0.57px;
	color: #93A5CF;
}
.pryamougolnik h3
{
	font: Regular 16px/19px Montserrat;
	letter-spacing: 0;
	color: #2E2A5C;
	font-size: 16px;
	margin-bottom: 23px;
	display: inline-block;
}
.pryamougolnik button
{
	padding-top: 4px;
	border: 1px solid #EF701B !important;
	background-color: inherit;
	margin-left: 10px;
}
.input-exchange
{
	margin-top: 40px;
}
.input-exchange input:not([type=submit])
{
	width: 100%;
	height: 42px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #93A5CF;
	border-radius: 4px;
}
.input-exchange span
{
	font: Medium 12px/15px Montserrat;
	letter-spacing: 0;
	color: #2E2A5C;
	font-size: 12px;
	margin-bottom: 6px;
}
.input-exchange select
{
	width: 100%;
	height: 42px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #93A5CF;
	border-radius: 4px;
}
.input-custom-rub input
{
	border-right: none;
	/*background: #ffff url(/wp-content/uploads/2019/12/rub.png) no-repeat 100% 50%;*/
	background: #ffff url(/wp-content/uploads/2020/02/rub_orange.png) no-repeat 100% 50% !important;
}
.input-custom-procent input
{
	border-right: none;
	background: #fff url(/wp-content/uploads/2019/12/custom-procent.png) no-repeat 100% 50% !important;
}
.input-custom-rubl input
{
	border-right: none;
	background: #fff url(/wp-content/uploads/2019/12/custom-rub.png) no-repeat 100% 50% !important;
}
.orange-input input
{
	border: 1px solid #EF701B !important;
}
.orange-input span
{
	color: #EF701B;
	text-transform: uppercase;

}
.input-custom-prizm input
{
	border-right: none !important;
	background: #ffff url(/wp-content/uploads/2019/12/prizm.png) no-repeat 100% 50% !important;
}
/*.input-custom-ruble input*/
/*{*/
/*	border-right: none !important;*/
/*	background: #ffff url(/wp-content/uploads/2020/02/ruble2.png) no-repeat 103% 55%;*/
/*	background-size: 80px 43px;*/

/*}*/
.input-custom-waws input
{
	border-right: none !important;
	background: #ffff url(/wp-content/uploads/2019/12/waws.png) no-repeat 100% 50% !important;
}
.input-exchange input,
.input-exchange select
{
	padding-left: 14px;
	font: Regular 16px/19px Montserrat;
	letter-spacing: 0;
	color: #2E2A5C;
	font-size: 16px;
}
.select-exchange select,
.select-custom select
{
	-webkit-appearance: none;
	border-right: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none!important;
	background: #ffff url(/wp-content/uploads/2019/12/select.png) no-repeat 100% 50%;
}
.exchange-pd
{
	margin-top: 30px;
}
.coop_maps-img img
{
	width: 100%;
}
.coop_maps-p
{
	text-align: left;
	font: Regular 17px/20px Montserrat;
	letter-spacing: -0.65px;
	color: #2E2A5C;
	margin-bottom: 37px;
}
.coop_maps-btn
{
	//max-width: 160px;
	margin-bottom: 36px;
}
.custom-padding
{
	padding-right: 30px;
	padding-left: 30px;
}
.passport-text
{
	border: 1px solid #93A5CF;
	margin-top: 36px;
	padding: 19px;
	font: Regular 15px/19px Montserrat;
	letter-spacing: -0.57px;
	color: #93A5CF;
	margin-left: 30px;
}
.skrepka
{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #93A5CF;
	border-radius: 21px;
	height: 42px;
	padding-top: 8px;
	margin-top: 36px;
}
.info-href
{
	width: 21px;
	height: 21px;
	margin-left: 10px;
	margin-top: -7px;
}
.profil-user-menu-item 
{
	padding-top: 16px;
	color: #93A5CF;
	font: Bold 13px/14px Comfortaa;
	letter-spacing: 0;
}
.copy-btn {
	/*background: url(/wp-content/uploads/2019/12/custom-copy.png) no-repeat 99% 50% !important;*/
	/*background-color: Transparent;*/
	/*border: none;*/
	margin-left: -24px !important;
	/*margin-top: 11px;*/
	cursor:pointer;
	overflow: hidden;
	/*outline:none;*/
}
.input-custom-copy 
{
	margin-top: 20px !important;
}
/*.input-custom-copy input*/
/*{*/
/*	background: #fff url(/wp-content/uploads/2019/12/custom-copy.png) no-repeat 99% 50% !important;*/
/*}*/
.verification-ok
{
	background: #fff url(/wp-content/uploads/2019/12/verification_ok.png) no-repeat 95% 50% !important;
}
.profil-user-verification
{
	font: Medium 12px/15px Montserrat;
	letter-spacing: 0;
	/*color: #179F37;*/
	text-transform: uppercase;
}
.profil-user-h1
{
	font: Bold 22px/24px Comfortaa;
	letter-spacing: 0;
	color: #2E2A5C;
	margin-top: 65px;
}
.profil-index-img
{
	margin-top: 23px;
}
.profil-menu-line
{
	height: 0px;
	width: 100%;
	border: 1px solid #C3CFE2;
	opacity: 0.45;
}
.profil-user-menu-item p
{
	padding-top: 10px;
}
.profil-user-menu-item[status="active"]
{
	color: #EF701B !important;
}
.btn-zayavki
{
	margin-right: 10px;
	margin-left: 0px;
}
.info-zayavki
{
	float: right;
}
.people-ul
{
	list-style: none;
}
.people-ul li
{
	display: inline-block;
	font: Bold 15px/19px Montserrat;
	letter-spacing: 0;
	color: #93A5CF;
	text-transform: uppercase;
	/*padding-left: 10px;*/
	padding-left: 0 !important;
	width: 32px;
	height: 32px;
	padding-top: 7px;
}
.people-ul li[status="active"]
{
	font: Bold 15px/19px Montserrat;
	letter-spacing: 0;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-left:0 !important;
	width: 32px;
	height: 32px;
	text-align: center;
	border-radius: 100%;
	background: #93A5CF 0% 0% no-repeat padding-box;
}
.table-title
{
	border: 1px solid #93A5CF;
	font: Medium 12px/15px Montserrat;
	letter-spacing: 0;
	color: #93A5CF;
	text-transform: uppercase;
	background: #ffff;
	border-right: none;
	border-bottom: none;
	border-left: none;
	height: 40px;
	padding-top: 5px;
}
.passport-photo
{
	margin-top: 33px;
}
.passport-photo img
{
	max-width: 292px;
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.passport-img {
	height: 200px;
	text-align: center;
	margin-bottom: 30px;
}
.passport-img > img {
	width: 80%;
}
/*.passport-photo .passport-img
{
	margin-left: 10px;
	}*/
	.table-text
	{

		font: Medium 17px/20px Montserrat;
		letter-spacing: 0;
		color: #2E2A5C;
		padding-top: 21px;
		border: 1px solid #93A5CF;
		border-bottom: none;
		border-right: none;
		border-left: none;
		padding-bottom: 21px;
	}
	@media screen and (max-width: 1200px)
	{
		.img-bg-center
		{
			display: none;
		}
		.desctop-menu li
		{
			margin-left: 3px !important;
		}
	}
	@media screen and (max-width: 500px)
	{
		/*.copy-btn {*/
		/*	margin-left: -0 !important;*/
		/*	margin-right: 25px;*/
		/*}*/
		#your-profile input, #prizm_address, #prizm_public_key, #waves_address {
			width: 80%;
		}
		.container div.desctop-menu {
			display: none;
		}
		.mobile-index-p
		{
			font-size: 16px !important;
		}
		.mobile-index-tittle
		{
			font-size: 30px !important;
			word-spacing: normal !important;
		}
		.index-registration
		{
			width: 279px !important;
			height: 279px !important;
			border-radius: 279px !important;
			padding: 14px !important;
		}
		.index-registration-img
		{
			width: 109px;
			margin-top: 96px;
		}
		.index-registration-p
		{
			font-size: 18px !important;
		}
		.index-registration-in
		{
			width: 251px !important;
			height: 251px !important;
			border-radius: 251px !important;
		}
	}
	@media screen and (max-width: 1000px)
	{
		.desctop-icons
		{
			display: none !important;
		} 
		.index-registration
		{
			float: none !important;
			margin: auto;
			margin-top: 174px;
		}
		.exchange-pd
		{
			width: 100%;
		}
	}
	@media screen and (min-width: 1000px)
	{
		.left-panel
		{
			padding-right: 4%;
		}
		.select-exchange 
		{
			padding-left: 30px;
			padding-right: 30px;
		}
		#personal_deposit .select-exchange {
			padding-left: 0 !important;
		}
		.input-pd-right
		{
			margin-right: 45px;
		}
	}

#primary.content-area {
	width: 100%;
}
.exchange_deposit_text {
	margin-top: 30px;
}
form.other_payments .input-exchange:not(.nested_menu) {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: 0;
}
form.other_payments .select-exchange {
	padding-left: 0;
}
.click_ex .ex-header h1 {
	width: 80%;
}


#other_payments_bank, #other_payments_card_num {
	margin-top: 10px !important;
}
#other_payments_card_name {
	margin-top: 20px !important;
}
#other_payments_bank, #other_payments_card_name, #other_payments_card_num {
	display: none;
}

form#get_prizm input[name="exchange[input_sum]"], form#get_prizm input[name="exchange[output_sum]"],
form#get_waves input[name="exchange[input_sum]"], form#get_waves input[name="exchange[output_sum]"] {
	width: 95%;
}
	/******REFERRAL PAGE****************/
.referral-tabs {
	margin-top: 10px;
}
.referral-tabs__items {
	list-style: none;
	display: flex;
	justify-content: center;
}
.referral-tabs__item {
	border-radius: 0;
	width: calc(100% / 3);
	text-align: center;
	/*background: #FDC501 !important;*/
	background: linear-gradient(90deg, #FDC501 0%, #EF7F1B 100%);
}
.referral-tabs__item.active {
	/*background: #EF7F1B !important;*/
	background: linear-gradient(90deg, rgba(236,96,15,1) 0%, rgba(239,69,27,1) 100%);
}
.referral-tabs__link {
	font-size: 18px;
	font-weight: bold;
}
.ref-tab__content {
	display: none;
}

.deposit_type_page .coop_maps-img img {
	height: 160px;
	object-fit: contain;
}
.deposit_type_page ol.carousel-indicators {
	bottom: -15%;
}
.deposit_type_page ol.carousel-indicators > li {
	background-color: rgba(0,0, 0, 0.2);
}
.deposit_type_page ol.carousel-indicators > li.active {
	background: transparent linear-gradient(90deg, #EF7F1B 0%, #FDC501 100%) 0% 0% no-repeat padding-box;
}
.deposit_type_page .carousel-control-next > .carousel-control-next-icon,
.deposit_type_page .carousel-control-prev > .carousel-control-prev-icon {
	background-image: none;
	background-color: transparent;
	font-size: 32px;
	color: gray;
	position: relative;
}
.deposit_type_page .carousel-control-prev > .carousel-control-prev-icon {
	left: -50%;
}
.deposit_type_page .carousel-control-next > .carousel-control-next-icon {
	right: -50%;
}

#login-form-rcl.form-tab-rcl > .form-block-rcl {
	margin: 0 !important;
}
#personal_deposit .select-exchange {
	padding-left: 0 !important;
}
#personal_deposit input[type=checkbox] {
	/*width: auto;*/
	width: 20%;
	height: auto;
	align-self: flex-start;
	margin-top: 3%;
}
#other_payments_is_public .select-exchange,
#other_payments_is_reserve .select-exchange,
#other_payments_is_save .select-exchange {
	padding-right: 0;
	display: flex;
	margin-top: 10%;
}
#other_payments_is_public span,
#other_payments_is_reserve span,
#other_payments_is_save span {
	text-align: left;
	display: block;
	padding-left: 10%;
}
#other_payments_reserve_id {
	padding-right: 0;
	visibility: hidden;
	margin-bottom: 3%;
}
#other_payments_reserve_id .select-exchange {
	padding-right: 0;
}
.modal-dialog input.personal_deposit[type="checkbox"] {
	width: unset;
}
.no-margin {
	margin: 0;
}
form#personal_deposit input[type=checkbox]:disabled {
	filter: invert(50%) brightness(1.5);
}